.navbar {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  font-size: 20px;
}
.right {
  display: flex;
  gap: 2rem;
}
