.skillContent {
  padding: 3rem 1rem 1rem 1rem;
  max-width: 60rem;
  min-width: 30rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.headerCard {
  align-self: center;
  max-width: 90rem;
  height: auto;
  display: flex;
  gap: 3rem;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.12);
}

.headerCard .skillInfo .skillTitle {
  font-size: 3rem;
}
.headerCard .skillInfo .skillDes {
  font-size: 1rem;
  text-align: justify;
}

.content {
  max-width: 100%;
  font-size: larger;
}

.content h1 {
}

.content h2 {
  margin-top: 3rem;
  font-size: 2.2rem;
  color: var(--mainColor);
}
.content h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  border: 1.5px solid #333333;
}

.content table thead,
.content tr td:first-child {
  background-color: #f0eeea;
  font-weight: 700;
  border: 1.5px solid #333333;
  text-align: center;
}

.content table td,
.content table th,
.content table tr {
  border: 1.5px solid #333333;
  width: fit-content;
  padding: 1rem;
}

.content p {
  width: 100%;
  text-align: justify;
  font-size: 1.3rem;
}

.content p img {
  max-width: 100%;
  min-width: 20rem;
  height: auto;
  box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
}

.content ul {
  width: 100%;
  text-align: justify;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skillContent::after {
  content: '';
  height: 2rem;
}

:export {
  --mainColor: #333333;
}
